<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
		<link rel="shortcut icon" href="../img/favicon.ico"  />
		<!-- CSS -->
        <link rel="stylesheet" type="text/css" href="../css/materialize.min.css">
		<link rel="stylesheet" type="text/css" href="../css/telaDeGastos.css">
		<link rel="stylesheet" type="text/css" href="../css/material-icons.css">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

		<!-- JS -->
		<script src="../js/jquery.min.js"></script>
		<script src="../js/screens/filters.js"></script>
		<script src="../js/screens/updateScreen.js"></script>
		<script src="../js/ajax/crud.js"></script>
		<script src="../js/regex/alfa.js"></script>
		<script src="../js/restfulProtocol.js"></script>
		<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
		<script type="text/javascript">
      		google.charts.load('current', {'packages':['corechart']});
      		google.charts.setOnLoadCallback(chartInit);
    	</script>

<!-- Icons -->
  		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		
	<title>Sistema Controle de Gastos - Consultas</title>
</head>
<body>
	<div class="row" style="width: 100%;">
		<div class="col s12 m12 l12">
			
			<ul id="itemDropDown" class="dropdown-content">
				<li id='historico'>Histórico</li>
				<li id='anual'>Por ano</li>
				<li id='mensal'>Por mês</li>
				<li id='cadastrar'>Cadastrar</li>
			</ul>
			<nav>
			<div class="nav-wrapper teal lighten-2">
				<ul id="nav-mobile" class="left hide-on-med-and-down">
					<!-- Dropdown Trigger -->
					<li>
						<a class="dropdown-button" data-activates="itemDropDown">
						<i class="material-icons left">view_headline</i>Menu</a>
					</li>
					<li>
						<a href="http://localhost:8083/shoppingcontrolweb/views/gastos.html">
						<i class="material-icons">home</i></a>
					</li>
					<li><a href="#">Como usar</a></li>
					<li><a href="#">Dicas</a></li>
					<li><a href="#">Ajuda</a></li>
				</ul>
				<ul class="right">
					<li>
						<a href="http://localhost:8083/shoppingcontrolweb/views/"><i class="material-icons">directions_run</i></a>
					</li>
				</ul>
			</div>
			</nav>
		</div>
	</div>
	<div id="Consultas"></div>
		<div id="tabelaDeGastos" >		
			<div id="chart_div" style="margin-left: 50px;width: 1250px; height: 500px"></div>
      	</div>      			
        <footer class="page-footer teal lighten-2">         
          <div class="footer-copyright">
            <div class="container">© 2017 Uver Copyright 
            <a class="green-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
        </footer>            
	<!-- JS -->
        <script type="text/javascript" src="../js/materialize.min.js"> </script>
</body>
</html>