<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
		<link rel="shortcut icon" href="../img/favicon.ico"  />
		<!-- CSS -->
        <link rel="stylesheet" type="text/css" href="../css/materialize.min.css">
		<link rel="stylesheet" type="text/css" href="../css/telaDeGastos.css">
		<link rel="stylesheet" type="text/css" href="../css/material-icons.css">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

		<!-- <script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> -->
		<!-- JS -->
		<script src="../js/jquery.min.js"></script>
		<script src="../js/screens/filters.js"></script>
		<script src="../js/screens/updateScreen.js"></script>
		<script src="../js/ajax/crud.js"></script>
		<script src="../js/regex/alfa.js"></script>
		<script src="../js/restfulProtocol.js"></script>
		
		<!-- Icons -->
  		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		
	<title>Sistema Controle de Gastos - Consultas</title>
</head>
<body>
	<div class="row" style="width: 100%;">
		<div class="col s12 m12 l12">
			
			<ul id="itemDropDown" class="dropdown-content">
				<li id='historico'>Histórico</li>
				<li id='anual'>Por ano</li>
				<li id='mensal'>Por mês</li>
				<li id='cadastrar'>Cadastrar</li>
			</ul>
			<nav>
			<div class="nav-wrapper teal lighten-2">
				<ul id="nav-mobile" class="left hide-on-med-and-down">
					<!-- Dropdown Trigger -->
					<li>
						<a class="dropdown-button" data-activates="itemDropDown">
						<i class="material-icons left">view_headline</i>Menu</a>
					</li>
					<li>
						<a href="http://localhost:8083/sistemacontroledegastosweb/views/gastos.html">
						<i class="material-icons">home</i></a>
					</li>
					<li><a href="#">Como usar</a></li>
					<li><a href="#">Brasil</a></li>
					<li><a href="#">Dicas</a></li>
					<li><a href="#">Ajuda</a></li>
				</ul>
				<ul class="right">
					<li>
						<a href="http://localhost:8083/sistemacontroledegastosweb/views/login.html"><i class="material-icons">directions_run</i></a>
					</li>
				</ul>
			</div>
			</nav>
		</div>
	</div>
	<div id="Consultas"></div>
		<div id="tabelaDeGastos" >		
		<div class="carouselPosition blue">
			<div class="carousel carousel-slider center"  data-indicators="true">
    			<div class="carousel-item white lighten-1 white-text z-depth-5" href="#one!">
      					<p class="center-align">
      						<h3 class="black-text flow-text">Percentual de endividados cresce para 57,1% entre junho e julho</h3>
      					</p>     				
      				<br />
      					<div id="panel1Carrousel">
      						<p class="black-text flow-text">
      							O percentual de famílias endividadas no país cresceu de 56,4% em junho para 57,1% em julho deste ano, segundo dados da Pesquisa Nacional de Endividamento e Inadimplência do Consumidor, divulgados hoje (31), no Rio de Janeiro, pela Confederação Nacional do Comércio de Bens, Serviços e Turismo (CNC). Apesar disso, o percentual caiu na comparação com julho de 2016 (57,7%).

								O percentual de inadimplentes, isto é, aqueles que têm contas ou dívidas em atraso, chegou a 24,2% em julho deste ano, proporção inferior a junho (24,3%), mas superior a julho de 2016 (22,9%).

								Ainda segundo a CNC, as famílias que não terão condições de pagar suas dívidas ficaram em 9,4%, abaixo do total de junho (9,6%), mas acima de julho de 2016 (8,7%). Planejamento financeiro familiar: Como envolver todos os membros? Saiba mais com a Racon Patrocinado 

								A maior parte das dívidas dos brasileiros é com cartão de crédito (76,8%), seguido por carnês (15,4%), crédito pessoal (11%), financiamento de carro (10,1%) e financiamento de casa (8%). O tempo médio de atraso nos pagamentos é de 63,1 dias.
      						</p>
      						<p class="blue-text center-align" style="font-weight: bold">
      							<i>Fonte: http://exame.abril.com.br/economia/percentual-de-endividados-cresce-para-571-entre-junho-e-julho/</i>
      						</p>
      					</div>
      				
    			</div>
    			<div id="panel2Carrousel" class="carousel-item white teal-text z-depth-5" href="#two!">
      				<img style="width: 590px; height: 450px;" src="../img/mapa de inadimplência no Brasil.png">
      				<p class="white-text">This is your second panel</p>
    			</div>
    			<div id="panel3Carrousel" class="carousel-item white lighten-1 black-text z-depth-5" href="#three!">
      				<h1>Vantagens ao utilizar esse sistema</h1>
      				<div id="panel3CarrouselText" class="right-align black-text flow-text">
      						<p>      							
      							<img id="imagePanel3" src="../img/Gráfico-de-Queda.jpg">
      							Utilizar esse sistema não só vai ajudar você a cuidar melhor dos seus gastos atuais,
      							mas também os futuros que ainda estão por vir. E nada melhor
      							do que fazer um consulta do histórico das suas compras cadastradas por você.
      						</p>      							
      				</div>      					
    			</div>
    			<div class="carousel-item white teal-text z-depth-5" href="#four!">
      			<h1>Desvantagens</h1>
      				<div class="row">
      					<div class="col m12">
      						<p class="teal-text flow-text">Você não quer ficar de fora quer? Perder o controle
      							de suas finanças não é legal.
      				 			Perder o controle leva a:
      				 		</p>
      				 	</div>
      				 </div>
					<div class="cardspanel row">
						<div id="card1" class="col m3">
							<p class="card-panel blue lighten-1 white-text flow-text">- Ficar com o nome irregular no <b>SPC e Serasa</b>.<br />
														   - Perder <b>credibilidade das lojas</b>. <br /> 
														   - Receber várias <b>cobranças</b>. <br /> 
														   - Em algumas situações, ao precisar de ajuda de alguém, fica mais <b>difícil de consegui-la</b>.</p>
						</div>
						<div id="card2" class="col m3">						
							<p class="card-panel white lighten-1">
							<label>Mais saúde financeira <i class="medium material-icons red-text right">favorite</i></label>
								<img id="imageCardPanel2" src="../img/grafico-de-crescimento-sucesso-no-e-commerce.png">
							</p>
						</div>
						<div id="card3" class="col m3">							
							<p class="card-panel green lighten-1 white-text flow-text">
								<i style="height: 153px;" class="large material-icons center">add_alert</i>
								<span style="font-size: 25px;" class="card-title">Controle mais</span>
							</p>
						</div>						
					</div>
				</div>
      		</div>
      	</div>      			
        <footer class="page-footer teal lighten-2">         
          <div class="footer-copyright">
            <div class="container">© 2017 Uver Copyright 
            <a class="green-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
        </footer>            
	<!-- JS -->
        <script type="text/javascript" src="../js/materialize.min.js"> </script>
</body>
</html>